body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    padding: 0px 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

main {
    padding: 0px;
}

main.container {
    max-width: 100%;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px;
    justify-content: initial;
    background-color: #4A4A4A;
    border: 1px solid #444;
}

.pokemon-slot {
    width: calc(32.5% - 20px);
    box-sizing: border-box;
    margin: 0;
    border: 2px solid #e0e0e0;
}

.left-section {
    width: 45%;
    padding-right: 10px;
    float: left;
}

.right-section {
    width: 53%;
    padding-left: 10px;
    float: left;
}

input, select {
    width: 75%;
    padding: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #e0e0e0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.nickname-input {
    width: 100%;
}

.stat-block {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.stat-column {
    flex: 1;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-stats span,
.stat-block input,
.stat-block span {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}

.base-stats span {
    font-weight: bold;
}

.pokemon-image {
    width: 96px;
    height: 96px;
    display: block;
    margin: 10px auto; /* Adjusted for vertical spacing and centering */
}

.type-label-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.type-label {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.item-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
}

.pokemon-info > div {
    margin-bottom: 10px;
}

.left-section > *, .right-section > * {
    margin-bottom: 5px;
}

.pokemon-attributes-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.pokemon-attributes-table td {
    border: none;
    padding: 0;
    vertical-align: middle;
}

.pokemon-attributes-table td:first-child {
    width: 30%;  /* Adjust this value as needed */
}

.pokemon-attributes-table td:last-child select {
    width: 90%;  /* Adjust this value as needed */
}

footer {
    text-align: center;
    padding: 10px 0;
}

/* Center the species dropdown */
.species-dropdown {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/* Adjusting the select2 dropdown */
.select2 {
    width: 100% !important; /* Ensuring it takes full width */
}

.select2-container--default .select2-selection--single {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px; /* To match your other inputs */
    height: 38px; /* Adjust this if the height doesn't match your other inputs */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e0e0e0;
    line-height: 38px; /* Adjust this to vertically center the text */
}

/* Fixing colors for the dropdown */
.select2-container--default .select2-selection--single {
    background-color: #333;
    color: #e0e0e0;
}

/* Fixing colors for the dropdown list */
.select2-container--default .select2-results__option {
    color: #e0e0e0;
    background-color: #212121;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #555;
    color: #e0e0e0;
}

/* Adjusting the search box */
.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}
