@media screen and (max-width: 1000px) {
    .pokemon-slot {
        width: 100%;
    }
    .toolbar .btn-primary,
    .toolbar .btn-secondary,
    .toolbar .btn-success,
    .toolbar .btn-info,
    .toolbar .btn-danger,
    .toolbar input[type="text"],
    .toolbar select {
        width: 100%;
        margin-bottom: 10px;
    }

    #teamName, #savedTeams {
        max-width: 100%;
        width: 100%;
    }

    .toolbar {
        box-sizing: border-box;
        height: auto;
    }
    .toolbar > * {
        box-sizing: border-box;
        height: auto;
    }

    .toolbar .container {
        flex-direction: column;
        align-items: stretch;
    }

    .toolbar .container > * {
        flex: 1 1 100%;  /* This means that the items can grow and shrink and will take up 100% of the width of the container */
        margin-right: 0;
        margin-bottom: 5px; /* Some spacing between the elements */
    }
}

@media screen and (max-width: 400px) {
    .pokemon-slot {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #212121;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

header {
    text-align: center;
    background-color: #333;
    padding: 0px 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

main {
    padding: 0px;
}

main.container {
    max-width: 1900px;
    margin: 0 auto;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px;
    justify-content: initial;
    background-color: #4A4A4A;
    border: 1px solid #444;
}

.pokemon-slot {
    /* width: calc(32.5% - 20px); */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0;
    border: 2px solid #e0e0e0;
}

.left-section {
    width: 43%;
    padding-right: 10px;
    /* float: none; */
    flex: 1;
    flex-shrink: 0;
}

.right-section {
    width: 51%;
    padding-left: 10px;
    /* float: none; */
    flex: 1;
    flex-shrink: 0;
}

.left-section, .right-section {
    overflow: hidden;
}

input, select {
    width: 75%;
    padding: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #e0e0e0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.nickname-input {
    width: 100%;
}

.stat-block {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.stat-column {
    flex: 1;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-stats span,
.stat-block input,
.stat-block span {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}

.base-stats span {
    font-weight: bold;
}

.pokemon-image {
    width: 96px;
    height: 96px;
    display: block;
    margin: 10px auto;
    /* Adjusted for vertical spacing and centering */
}

.type-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.type-label {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.movetype-label1 {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.movetype-label2 {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.movetype-label3 {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.movetype-label4 {
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.item-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 5px;
}

.pokemon-info>div {
    margin-bottom: 10px;
}

.left-section>*, .right-section>* {
    margin-bottom: 5px;
}

.pokemon-attributes-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.pokemon-attributes-table td {
    border: none;
    padding: 0;
    vertical-align: middle;
}

.pokemon-attributes-table td:first-child {
    width: 30%;
    /* Adjust this value as needed */
}

.pokemon-attributes-table td:last-child select {
    width: 90%;
    /* Adjust this value as needed */
}

.pokemon-attributes-table2 {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.pokemon-attributes-table2 td {
    border: none;
    padding: 0;
    vertical-align: middle;
}

.pokemon-attributes-table2 td:first-child {
    width: 20%;
    /* Adjust this value as needed */
}

.pokemon-attributes-table2 td:last-child select {
    width: 90%;
    /* Adjust this value as needed */
}

.move-types-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.move-types-table td {
    border: none;
    padding: 0;
    vertical-align: middle;
}

.move-types-table td:first-child {
    width: 30%;
    /* Adjust this value as needed */
}

.move-types-table td:last-child select {
    width: 90%;
    /* Adjust this value as needed */
}

footer {
    text-align: center;
    padding: 10px 0;
}

/* Center the species dropdown */
.species-dropdown {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

/* Adjusting the select2 dropdown */
.select2 {
    width: 100% !important;
    /* Ensuring it takes full width */
}

.select2-container--default .select2-selection--single {
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    /* To match your other inputs */
    height: 38px;
    /* Adjust this if the height doesn't match your other inputs */
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e0e0e0;
    line-height: 38px;
    /* Adjust this to vertically center the text */
}

/* Fixing colors for the dropdown */
.select2-container--default .select2-selection--single {
    background-color: #333;
    color: #e0e0e0;
}

/* Fixing colors for the dropdown list */
.select2-container--default .select2-results__option {
    color: #e0e0e0;
    background-color: #212121;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #555;
    color: #e0e0e0;
}

/* Adjusting the search box */
.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #555;
}

.toolbar * {
    box-sizing: border-box;
}

.toolbar {
    background-color: #333;
    /* Darker shade to match the header/footer */
    padding: 15px 0;
    /* Increased padding for better appearance */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* overflow: hidden; */ /* This will hide any overflow, which can prevent scrollbars */
}

/* Default flex-direction is row (horizontal) */
.toolbar .container {
    flex-direction: row;
    flex-wrap: wrap;
}

.toolbar .btn-primary {
    background-color: #1976d2;
    border-color: #1565c0;
    flex: none;
}

.toolbar .btn-secondary {
    background-color: #757575;
    border-color: #616161;
    flex: none;
}

.toolbar .btn-success {
    background-color: #43a047;
    border-color: #388e3c;
    flex: none;
}

.toolbar .btn-info {
    background-color: #039be5;
    border-color: #0288d1;
    flex: none;
}

.toolbar .btn-danger {
    background-color: #d32f2f;
    border-color: #c62828;
    flex: none;
}

.toolbar input[type="text"] {
    background-color: #555;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 5px 10px;
    flex: none;
    width: 15%;
    margin: 0 auto;
}

.toolbar select {
    background-color: #555;
    color: #e0e0e0;
    border: 1px solid #444;
    padding: 5px 10px;
    flex: none;
    width: 20%;
    margin: 0 auto;
}

/* If you're using select2 for the select in toolbar, you might also want to add these styles */

.toolbar .select2-container--default .select2-selection--single {
    background-color: #555;
    border: 1px solid #444;
    height: 38px;
}

.toolbar .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #e0e0e0;
    line-height: 38px;
}

.pb-3, .py-3 {
    padding-bottom: 0 !important;
}

.pt-3, .py-3 {
    padding-top: 0 !important;
}

.mt-4, .my-4 {
    margin-top: 0 !important;
}

.toolbar-button-size {
    font-size: 16px;
    /* Adjust as necessary */
    font-weight: bold;
    height: 30px;
    /* Adjust this value for desired height */
    line-height: 20px;
    /* Make this value the same as the height to vertically center the text */
    padding-left: 24px;
    /* Horizontal padding */
    padding-right: 24px;
    /* Horizontal padding */
    box-sizing: border-box;
    width: 10%;
    margin: 0 auto;
}