body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #212121;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
}

main.container {
    max-width: 95%;
}

#pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 3px;
    justify-content: initial;
}

.pokemon-slot {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 10px;
    width: calc(32.5% - 20px);
    box-sizing: border-box;
    background-color: #4A4A4A;
    margin-bottom: 20px;
    margin-left: 0.75%;
    margin-right: 0.75%;
}

.left-section {
    width: 40%;
    padding-right: 10px;
    float: left;
}

.right-section {
    width: 58%;
    padding-left: 10px;
    float: left;
}

input, select {
    width: 95%;
    padding: 5px;
    border: 1px solid #555;
    background-color: #333;
    color: #e0e0e0;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.nickname-input {
    width: 100%;
}

.stat-block {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.stat-column {
    flex: 1;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-stats span,
.stat-block input,
.stat-block span {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
}

.base-stats span {
    font-weight: bold;
}

.pokemon-image {
    width: 64px;
    height: 64px;
    display: block;
    margin-bottom: 10px;
}

.type-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
}

.item-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
}

.pokemon-info > div {
    margin-bottom: 10px;
}

.left-section > *, .right-section > * {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
}
